$row-bg: #EAEAEA;
$btm--selected: #ADFF2F;

.unknown-player__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.unknown-player__item {
  clear: both;
  padding: 5px;

  &:nth-child(even) {
    background: $row-bg;
  }
}

.unknown-player__btn {
  float: right;
  margin-left: 20px;

  &--selected {
    background: $btm--selected;
  }
}
